{% extends "layout.html" %}

{% block title %}
    Blurring
{% endblock %}

{% block header %}
<h1>Blurring filter</h1>
{% endblock %}


{% block main %}
    <div class="center">
        
        <div class="group">
            <h2>Original image</h2>
            
            <div class="img-container">
                {% if file_url %}
                    <img src="{{ file_url }}" class="imgg">
                {% endif %}
            </div>

            <form method="post" enctype="multipart/form-data" class="buttons" action="/send_form">
                <div style="width: 70%; display: inline-block">
                   <input type="file" class="form-control" name="file">
                </div>
                <div style="width: 26%; display: inline-block">
                    <input type="submit" class="btn btn-success" style="width: 100%;" value="Upload" name="blurring.html">
                </div>
            </form>
        </div>

        <div class="group">
            <h2>Blurred image</h2>
            <div class="img-container">
                {% if file_url %}
                    <img src="{{ file_url }}" class="imgg" id="mod_blurr" id="mod_blurr">
                {% endif %}
            </div>
            <div class="buttons">
                <label style="width: 10%; font-weight: 600; font-size: 22px; color: #0B5345; margin: 0;">Adjust:</label>
                
                <div class="slider">
                    <input type="range" id="blurs" min="0" max="100" value="0" step="2" onchange="slider_photo('mod_blurr', this.value)" oninput="rangeValue.innerText = this.value">
                </div> 
                
                <p id="rangeValue">0</p>
                
                <div style="width: 15%; display: inline-block">
                    <a class="btn btn-success" style="width: 100%" href="/download">Download</a>
                </div>
            </div>
            
        </div>
    
        
    </div>
{% endblock %}